.text2{
    color:red;
    display: inline-block;
    user-select: none;
    }
    
    .text3{
    color:#0b4931;
    background:black;
    font-weight: bold;
    display: inline-block;
    user-select: none;
    
       }
    
    .new{
           display: inline-block;
           user-select: none;
    
       }
    
    .image-block{
       display:block;

       user-select: none;
    }
    